{% extends "layout.html" %}

{% block title %}首页—南开中学学生会{% endblock %}

{% block content %}
    <div id="content-article">
        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/index/xsh.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    {% for post in xsh %}
                    <li><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>


        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/index/nkst.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    {% for post in st %}
                        <li><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>


        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/index/zgtx.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    {% for post in tx %}
                        <li><a href="{{ url_for('post', id=post.id) }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>
    </div>
{% endblock %}