{% extends "layout.html" %}

{% block title %}首页—南开中学学生会{% endblock %}

{% block content %}
    <div id="content-article">
        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/index/xsh.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>


        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/index/nkst.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>


        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/index/zgtx.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>
    </div>
{% endblock %}