{% extends "layout.html" %}

{% block title %}学生会—南开中学学生会{% endblock %}

{% block head %}
    <style>
        .st-link-metro a {
            width: 227px;
            margin-top: -9px;
            color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content-article">

        <div id="st-link">
            {% for xsh in xshs %}
                <div class="st-link-metro"><a href="{{ url_for('list', name=xsh) }}">{{ xsh }}</a></div>
            {% endfor %}
        </div>

        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/news.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>
    </div>
{% endblock %}