{% extends "layout.html" %}

{% block title %}纵观天下—南开中学学生会{% endblock %}

{% block head %}
    <style>
        #content {
            margin: 0 auto;
            height: 2036px;
            width: 1280px;
        }
        #content-body {
            width: 942px;
            margin: 0 auto;
        }
        #content-article {
            float: left;
            width: 765px;
            height: 1451px;
            background-color: white;
        }
        #content-link {
            float: left;
            margin-left: -8px;
            width: 185px;
            height: 1451px;
            background: -moz-linear-gradient(left, #330553, #552385);
            background: -webkit-gradient(linear,0 0, 100% 0, from(#330553), to(#552385));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#330553', endColorstr='#552385', GradientType='0');
        }
        .content-article-shadow-top {
            margin-top: 22px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content-article">
        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/tx/rd.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>

        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/tx/ts.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>


        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/tx/yp.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>


        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/tx/wz.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>


        <div class="content-article-shadow-top"></div>
        <div class="content-article-content">
            <div class="content-article-content-left">
                <img src="/static/image/tx/sp.png" class="content-article-content-left-image"/>
            </div>
            <div class="content-article-content-image"></div>
            <div class="content-article-content-image-light"></div>
            <div class="content-article-content-topic">
                <ul class="content-article-content-topic-list">
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                    <li><a href="#">【事件性质】单机此处添加事件</a></li>
                </ul>
            </div>
        </div>
        <div class="content-article-shadow-bottom"></div>
    </div>
{% endblock %}